/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&display=swap');

* {
  box-sizing: border-box;
}
:root{
  --primaryBorder : 2px solid lightskyblue;
  --primaryBackgroundColor : black;
  --primaryTextColor: #dcdcdc;
  --primaryFontFamily : "BBH Sans Bogle";
  --secondaryFontFamily : "Roboto"
}

/* BODY */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  padding: 0;

  min-height: 100vh;

  font-family: "Roboto";
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
  cursor: pointer;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 30px;
  border : 1px solid white;
  height: 106px;
}

.booksIcon {
  width : 50px;
}

.darklightIcon {
  width : 64px;
}

.headerNav {
  display: flex;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

.hamburgerIcon {
  height: 32px;
  width: 32px;
  display: none;
}

.hidden {
  opacity: 0;
}

.hiddenDisplay {
  display: flex;
}
.show {
  opacity: 1;
}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {
  .headerNav {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navList {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}

.flex {
  display: flex;
}
/* MAIN */
ul li::marker {
  content: "💠";  /* Use an emoji or a character */
}

h1 {
  font-family: "BBH Sans Bogle";
  font-weight: 100;
  color: lightskyblue;
}

h2 {
  font-family: "BBH Sans Bogle";
  font-weight: 100;
  animation-name: slideInTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

}

.main {
  display: flex;
  flex-grow: 1;

}

.section {
  margin: 40px 10px;  
  height: 100%;
}

.hero {
  display: flex;
  align-items:flex-start;
  justify-content:center;
  gap: 50px;

}


.headerAndListDiv {
  flex-direction: column;
  
}

.listOfBooks
{
  flex-direction: column;
  gap: 20px;
}

li {
  transition: color scale;
  transition-duration: 0.2s;
  padding-left: 5px;


}

li:hover{
  color:lightskyblue;
  scale : 1.04;

}

.authorsList li::marker {
  content: "🤵🏼";

}

.authorsList {
  padding-left : 17px;
}
.showBookInfoDiv
{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: repeat(11, auto);
  border: var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 40px;
}

.titleBookText, .colorMain {
  color:darkorange;
}


.dataText {
  color:azure;

}

.seriesText {
  color : lightseagreen;
}

.keyTitleClass {
  color: #dcdcdc;
  font-family: "BBH Sans Bogle";
}

.showAuthorInfoStats
{
  display: grid;
  /* opacity: 0; */
  grid-template-columns: auto 250px;
  grid-template-rows: repeat(4, auto);
  border:var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 20px;
  align-items: center;
}

.publisherButton, .otherBooksButton {
  font-family: var(--primaryFontFamily);
  border-radius : 2px;
  padding : 3px 6px;
  margin : 3px 3px;

}

.publisherButton {
  margin-left : 30px;
  padding: 3px 6px;
}
.showPublisherStats
{
  display: grid;
  /* opacity: 0; */
  grid-template-columns: auto 250px;
  grid-template-rows: repeat(5, auto);
  border:var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 20px;
  align-items: center;
}

.publisherWeb {
  font-size: 10px;
}
.authorImage {
  width: 100px;

}

.authorPublisherWrapper {
  flex-direction: column;
  gap: 35px;
}

.scaleBookInAnim {
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% { transform: scale(0, 0);}
  5% { transform: scale(0.2, 0.2);}
  30% { transform: scale(1, 0);}
  100% {transform : scale(1, 1) ;}
}

.scaleBookOutAnim {
  animation-name: scaleOut; 
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% { transform: scale(1, 1);}
  5% { transform: scale(1, 0.8);}
  30% { transform: scale(1, 0.2);}
  /* 80% { transform: scale(0.2, 0.2);} */
  100% {transform : scale(0, 0.3) ;}
}

.slideInTopAnim {
  animation-name : slideInTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: b;
}

@keyframes slideInTop {
  0% { transform: translateY(-600px);}
  100% { transform : translateY(0); }
}

@media (max-width: 426px) {
  .hero {
    flex-direction: column;
  }

  .heroText,
  .heroImg {
    width: 100%;
  }
}

/* søke div som er skjult */

.searchDiv {
  display: flex;
  align-items: flex-start;
  width: 350px;
  height: 500px;
  background-color: aqua;
  border: var(--primaryBorder);
  border-radius: 4px;

}

.searchIcon {
  width : 40px;
  animation-name: rotateRight;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes rotateRight {
  0% { transform: rotate(0);  }
  100% { transform: rotate(360deg);}
}

/* FOOTER */
footer {
  /* display: flex;
  justify-content: center; */
  font-family: var(--primaryFontFamily);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 106px;
  border: 1px solid white;
  padding : 0 20px;
}

.creditButton {
  font-family: var(--primaryFontFamily);
  font-weight: 100;
  font-size: 12xp;
  border-radius: 5px;
}

.kodeloftLogoImg {
  width : 100px;
}

.myInfoWrapper {
  gap: 20px;
  align-items: center;
}

.myInfoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  
  color: lightskyblue;
}

.contactInfo {
  gap : 20px;
  font-size: 14px;
}

.emailIcon, .githubIcon {
  width: 40px;
}

.footerTextName {
  font-family: var(--primaryFontFamily);
  font-size: 16px;
  color:orange;
}