/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
:root{
  --primaryBorder : 2px solid lightskyblue;
  --primaryBackgroundColor : black;
  --primaryTextColor: #dcdcdc;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  height: 100%;
  min-height: 100vh;
  font-family: "Roboto";
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor)
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 16px;
  border : 1px solid white;
  height: 106px;
}

.headerNav {
  display: flex;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

.hamburgerIcon {
  height: 32px;
  width: 32px;
  display: none;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {
  .headerNav {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navList {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}

.flex {
  display: flex;
}
/* MAIN */
.main {
  flex-grow: 1;
  display: flex;

}
.section {
  margin: 40px 10px;  
}

.hero {
  display: flex;
  align-items:flex-start;
  justify-content:center;
  gap: 50px;
}

.heroText {
  width: 50%;
}

.heroImg {
  width: 50%;
}

.headerAndListDiv {
  flex-direction: column;
  
}

.listOfBooks
{
  flex-direction: column;
  gap: 20px;
}

li {
  transition: color scale;
  transition-duration: 0.2s;

}

li:hover{
  color:lightskyblue;
  scale : 1.04;

}

.authorsList {
  padding-left : 17px;
}
.showBookInfoDiv
{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: repeat(11, auto);
  border: var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 40px;

}

.titleBookText {
  color:darkorange;
}
.showAuthorInfoStats
{
  display: grid;
  opacity: 0;
  grid-template-columns: auto 250px;
  grid-template-rows: repeat(4, auto);
  border:var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 20px;
}

.authorImage {
  width: 100px;

}

.scaleBookInAnim {
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% { transform: scale(0, 0);}
  5% { transform: scale(0.2, 0.2);}
  30% { transform: scale(1, 0);}
  100% {transform : scale(1, 1) ;}
}

.scaleBookOutAnim {
  animation-name: scaleOut;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% { transform: scale(1, 1);}
  5% { transform: scale(1, 0.8);}
  30% { transform: scale(1, 0.2);}
  /* 80% { transform: scale(0.2, 0.2);} */
  100% {transform : scale(0, 0.3) ;}
}
@media (max-width: 426px) {
  .hero {
    flex-direction: column;
  }

  .heroText,
  .heroImg {
    width: 100%;
  }
}

/* FOOTER */
footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  height: 106px;
  border: 1px solid white;
}
