/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&display=swap');

* {
  box-sizing: border-box;
}
:root{
  --primaryBorder : 2px solid lightskyblue;
  --primaryBackgroundColor : black;
  --primaryTextColor: #dcdcdc;
  --primaryFontFamily : "BBH Sans Bogle";
  --secondaryFontFamily : "Roboto";
  --windowBackgroundColor : black;
  --bookListTextColor : white;
}

/* BODY */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  padding: 0;

  min-height: 100vh;

  font-family: "Roboto";
  background-color: var(--primaryBackgroundColor);
  background-image: url("Images/books2.jpg");
  background-size: cover;
  color: var(--primaryTextColor);
  cursor: pointer;
  overflow: hidden;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 30px;
  border : 2px solid white;
  border-radius: 4px;
  height: 106px;
  z-index: 10;
  background-color: black;
}

.booksIcon {
  width : 50px;
}

.darklightIcon {
  width : 64px;
}

.hidden {
  opacity: 0;  
  /* display: none; */
}

.hiddenDisplay {
  display: none;
}

.showDisplay {
  display: flex;
}

.show {
  opacity: 1;
  /* display: block; */
}

/* HEADER styling mobile L or less */
@media (max-width: 426px) {
    h1 {
      font-size: 15px;
    }
}

.flex {
  display: flex;
}

.grid {
  display:grid;
}
/* MAIN */
ul li::marker {
  content: "💠";  /* Use an emoji or a character */
}

h1 {
  font-family: "BBH Sans Bogle";
  font-weight: 100;
  color: lightskyblue;
}

h2 {
  font-family: "BBH Sans Bogle";
  font-weight: 100;
  animation-name: slideInTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  color:var(--bookListTextColor);

}

main {
  /* display: flex; */
  flex-grow: 1;

}

.section {
  margin: 40px 10px;  
  height: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 210px 562px 468px;
  justify-self:center;

  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  gap: 50px;
}

.headerAndListDiv {
  flex-direction: column;
  
}

.listOfBooks
{
  flex-direction: column;
  /* width:250px; */
  gap: 20px;
  font-size: 14px;
  color:var(--bookListTextColor);
}

li {
  transition: color scale;
  transition-duration: 0.2s;
  padding-left: 5px;


}

li:hover{
  color:lightskyblue;
  scale : 1.04;

}

.authorsList li::marker {
  /* content: "🤵🏼"; */
  /* content : "📚";   */
  content :"📖";

}

.authorsList {
  padding-left : 17px;
}

.showBookInfoDiv
{
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: repeat(11, auto);
  border: var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 40px;
  background-color: var(--windowBackgroundColor);
}

.titleBookText, .colorMain {
  color:darkorange;
}


.dataText {
  color:azure;

}

.seriesText {
  color : lightseagreen;
}

.keyTitleClass {
  color: #dcdcdc;
  font-family: "BBH Sans Bogle";
}

.showAuthorInfoStats
{
  /* display: grid; */
  /* opacity: 0; */
  grid-template-columns: auto 250px;
  grid-template-rows: repeat(4, auto);
  border:var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 20px;
  align-items: center;
  background-color: var(--windowBackgroundColor);
}

.publisherButton, .otherBooksButton {
  font-family: var(--primaryFontFamily);
  border-radius : 2px;
  padding : 3px 6px;
  margin : 3px 3px;

}

.publisherButton {
  margin-left : 30px;
  padding: 3px 6px;
}
.showPublisherStats
{
  /* display: grid; */
  /* opacity: 0; */
  grid-template-columns: auto 250px;
  grid-template-rows: repeat(5, auto);
  border:var(--primaryBorder);
  border-radius: 8px;
  padding: 20px 40px;
  column-gap: 20px;
  align-items: center;
  font-size: 15px;
  background-color: var(--windowBackgroundColor);
}

.publisherWeb {
  font-size: 10px;
}

.errorWin {
  border:var(--primaryBorder);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  font-family: var(--primaryFontFamily);
  border-radius: 2px;
  background-color: var(--windowBackgroundColor);

}

.errorCountText {
  font-family: var(--primaryFontFamily);
  font-size: 22px;
  color:lightskyblue;
}
.authorImage {
  width: 100px;

}

.authorGenderImage {
  width: 32px;
  align-self: center;
}

.authorPublisherWrapper {
  flex-direction: column;
  gap: 35px;
}

.scaleBookInAnim {
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% { transform: scale(0, 0);}
  5% { transform: scale(0.2, 0.2);}
  30% { transform: scale(1, 0);}
  100% {transform : scale(1, 1) ;}
}

.scaleBookOutAnim {
  animation-name: scaleOut; 
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% { transform: scale(1, 1);}
  5% { transform: scale(1, 0.8);}
  30% { transform: scale(1, 0.2);}
  /* 80% { transform: scale(0.2, 0.2);} */
  100% {transform : scale(0, 0.3) ;}
}

.slideInTopAnim {
  animation-name : slideInTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideInTop {
  0% { transform: translateY(-600px);}
  100% { transform : translateY(0); }
}

@media (max-width: 426px) {
  .hero {
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .heroText,
  .heroImg {
    width: 100%;
  }

  h2 {
    font-size: 15px;
  }

  .listOfBooks {
    font-size: 12px;
    gap: 5px;
    width: 200px;
  }

  .showBookInfoDiv
  {
    display: grid;
    font-size: 10px;
    grid-template-columns: auto 200px;
    grid-template-rows: repeat(11, auto);
    
  }

  .showPublisherStats
  {
    /* display: grid; */
    font-size: 10px;
    /* opacity: 0; */
    grid-template-columns: auto 250px;
    grid-template-rows: repeat(5, auto);
  
  }

  .showAuthorInfoStats
  {
    /* display: grid; */
    font-size:10px;
    /* opacity: 0; */
    grid-template-columns: auto 250px;
    grid-template-rows: repeat(4, auto);
  
  }
}



/* søke div som er skjult */

.searchDiv {
  /* display: flex; */
  flex-direction: column;
  /* display: none; */
  align-items: flex-start;
  
  width: 350px;
  height: 500px;
  background-color:black;
  border: var(--primaryBorder);
  gap: 5px;
  border-radius: 4px;
  font-size: 14px;

}

.searchingIcon {
  width : 32px;
  margin: 15px 20px;
  animation-name: rotateRight;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.searchingStatus {
  font-family: var(--primaryFontFamily);
  font-size: 20px;

}

.searchPoint {
  font-family: var(--primaryFontFamily);
  font-size: 20px;
}

.pointAnim {
  animation-name: fadeInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.point1 {
  animation-delay: 1.8s;
}

.point2 {
  animation-delay: 1s;
}

.point3 {
  animation-delay: 0.2s;
}

.searchingAnimDiv {
  
  flex-direction: row;
}

.matchFoundText {
  padding-left: 25px;
}

.fadeInAnim {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity :0; }
  100% { opacity: 1; }
}

@keyframes fadeInOut {
  0% { opacity:1}
  100% { opacity: 0}
}

@keyframes rotateRight {
  0% { transform: rotate(0deg);  }
  100% { transform: rotate(360deg);}
}

.creditIconDiv 
{
  flex-direction: column;
  position: fixed;
  bottom:115px;
  background-color: black;
  padding: 25px;
  width:fit-content;
  /* left: 50%; */
  left: 10px;
  border: var(--primaryBorder);
  border-radius: 4px;
  gap: 10px;
 
}

.creditAnchor {
  font-family: var(--primaryFontFamily);
  font-size: 16px;
  color:darkgrey;
}



.slideInBottomAnim {
  animation-name: slideInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideOutBottomAnim {
  animation-name: slideOutBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.slideOutTopAnim {
  animation-name: slideOutTop;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideOutTop {
  0% { transform: translateY(0);}
  100% { transform: translateY(-600px);}
}


@keyframes slideInBottom {
  0%  { transform: translateY(300px); } 
  /* 80% { transform: translateY(-100px);} */
  100% { transform: translateY(0);
        transform: translateX(-50%); }
}

@keyframes slideOutBottom  {
  0%  { transform: translateY(0px);
        transform: translateX(-50%);    
  } 
  /* 20% { transform: translateY(-100px);} */
  100% { transform: translateY(300px);}
}

@media (max-width:426px) {
  .creditAnchor {
    font-size: 10px;
  }
}
/* FOOTER */
footer {
  /* display: flex;
  justify-content: center; */
  font-family: var(--primaryFontFamily);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 106px;
  border: 2px solid white;
  border-radius: 4px;
  padding : 0 20px;
  background-color: black;

}

.creditButton {
  font-family: var(--primaryFontFamily);
  font-weight: 100;
  font-size: 12xp;
  border-radius: 5px;
}

.kodeloftLogoImg {
  width : 100px;
}


.myInfoWrapper {
  gap: 20px;
  align-items: center;
}

.myInfoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  
  color: lightskyblue;
}

.contactInfo {
  gap : 10px;
  font-size: 14px;
}

.emailIcon {
  width: 40px;
}

.githubIcon {
  width: 30px;
}

.footerTextName {
  font-family: var(--primaryFontFamily);
  font-size: 16px;
  color:orange;
}

@media (max-width:426px)
{
  .myInfoDiv {
    display: none;
  }

 

}